button.expand-row-details {
  padding: 0px !important;
  border-radius: 10% !important;
  cursor: pointer;
}

.svg-button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
  }
}

.boookmark-icon {
  cursor: pointer;
  &:not(.bookmark-saved) {
    //display: none;
    visibility: hidden;
    &:hover {
      //display: block;
      visibility: visible;
    }
  }
  &.bookmark-saved {
    //display: block;
    color: #3c3c3c;
    &:hover {
      //display: block;
      color: #222222;
    }
  }
}
